/*
 * Color Scheme
 * ============
 */
.cm-string {
  color: #f2e780;
}

.cm-error {
  color: #f2f2db !important;
}

.cm-meta,
.cm-comment {
  color: #7c7b75;
}

.cm-atom,
.cm-number,
.cm-link {
}

.cm-property,
.cm-attribute,
.cm-keyword {
  color: #8becff;
}

.cm-string.cm-property,
.cm-variable,
.cm-variable-2 {
    color: #f2f2db;
}

.cm-variable-3,
.cm-qualifier,
.cm-builtin {
    color: #bbe26f;
}

.cm-operator,
.cm-tag {
}

.cm-bracket,
.cm-def {
    color: #f2f2db;
}

/**
 * User Interface
 * ==============
 *
 * @TODO Matching words
 * @TODO Scrollbars
 * @TODO Find highlights
 */
.CodeMirror,
.CodeMirror .CodeMirror-scroll {
    background: #222;
    color: #f2f2db;
}

#not-editor,
#image-holder {
    background-color: #222;
    color: #f2f2db;
    -webkit-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

.CodeMirror {
    border-left-color: #212121;
}

div.CodeMirror-selected {
    background: #444 !important;
}

.CodeMirror-gutters {
    background: #272822;
    border-right: 0px;
}

.CodeMirror-guttermarker {
    color: #f2f2db;
}

.CodeMirror-guttermarker-subtle {
    color: #272822;
}

.CodeMirror-linenumber {
    color: #9a9a90; /* 9a9a90 */
}

.CodeMirror-cursor {
    border-left: 1px solid #f8f8f0 !important;
}

.CodeMirror-activeline-background,
.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
    background: #373831 !important;
}

.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
    color: #f2f2db;
}

.CodeMirror-focused .CodeMirror-activeline .inline-widget .CodeMirror-gutter-elt {
    color: #767676;
}

.CodeMirror-matchingbracket {
    background-color: transparent !important;
    border-bottom: 1px solid; /* text-decoration: underline does not look that well with large font sizes */
    color: #fff !important;
    padding-bottom: 0.166em;
}

.CodeMirror-matchingtag {
    background-color: transparent;
    border-bottom: 1px solid #f2f2db; /* text-decoration: underline does not look that well with large font sizes */
    padding-bottom: 0.166em;
}

/**
 * Extensions
 * ==========
 */

/*
 * Brackets-Vim (https://github.com/megalord/brackets-vim)
 * -------------------------------------------------------
 */
.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor {
    background: rgba(248, 248, 242, 0.5) !important;
}

/**
 * Show Whitespace (https://github.com/DennisKehrig/brackets-show-whitespace)
 * --------------------------------------------------------------------------
 */
.CodeMirror .cm-dk-whitespace-space::before,
.CodeMirror .cm-dk-whitespace-tab::before,
.CodeMirror .cm-dk-whitespace-leading-space::before,
.CodeMirror .cm-dk-whitespace-leading-tab::before,
.CodeMirror .cm-dk-whitespace-trailing-space::before,
.CodeMirror .cm-dk-whitespace-trailing-tab::before {
    background-color: #7c7b75 !important;
}

/**
 * Code Folding (https://github.com/thehogfather/brackets-code-folding)
 * --------------------------------------------------------------------
 */
.CodeMirror-foldgutter,
.CodeMirror-foldgutter,
.CodeMirror-foldgutter-blank,
.CodeMirror-foldgutter-folded,
.CodeMirror-foldgutter-open {
    color: #7c7b75;
}

.CodeMirror-foldgutter-open::after {
    content: "\25bd";
}

.CodeMirror-foldmarker {
    background-color: #333;
    border-color: #555;
    color: #555;
    padding: 0 10px;
}
